name: manual build

on:
  workflow_dispatch

jobs:

  build_windows:

    runs-on: windows-latest

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
          python-version: "3.10"

    - name: Install dependencies
      shell: powershell
      run: |
          python -m pip install --upgrade pip
          python -m pip install bleak pyside6 numpy pyqtgraph pyinstaller

    - name: build with pyinstaller
      shell: powershell
      run: |
        pyinstaller --onefile --icon=logo.ico OpenHRV.py

    - name: upload exe artifact
      uses: actions/upload-artifact@v2
      with:
        name: OpenHRV_windows
        path: dist/OpenHRV.exe
