name: release build

on:
  release:
    types:
      - published

jobs:

  build_windows:

    runs-on: windows-latest

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
          python-version: "3.10"

    - name: Install dependencies
      shell: powershell
      run: |
          python -m pip install --upgrade pip
          python -m pip install pyside6 numpy pyinstaller

    - name: build with pyinstaller
      shell: powershell
      run: |
        pyinstaller --onefile --windowed --icon=docs/logo.ico openhrv/OpenHRV.py

    - name: upload exe artifact
      uses: actions/upload-artifact@v2
      with:
        name: OpenHRV_windows
        path: dist/OpenHRV.exe

  upload_windows:    # separate job on Ubuntu since JasonEtco/upload-to-release@master only runs on Linux

    needs: build_windows

    runs-on: ubuntu-latest

    steps:

    - name: download exe
      uses: actions/download-artifact@v2
      with:
        name: OpenHRV_windows

    - name: upload exe to release
      uses: JasonEtco/upload-to-release@master
      with:
        args: OpenHRV.exe application/octet-stream
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}    # token generated implicitly
